<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar</title>
</head>
<body>
	
    <form action="<%= baseUrl %>/daftar" method="post">
        <input type="email" name="email">
        <input type="password" name="pwi">
		<input type="text" name="nama">
        <input type="submit" value="Submit">
    </form>
    <a href="<%= baseUrl %>/masuk">Masuk</a>
</body>
</html>