<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masuk</title>
</head>
<body>
    <% if (messages.error) { %>
        <%= messages.error %>
    <% } %>
    <p id="captcha-res"></p>
    <form action="<%= baseUrl %>/masuk" method="post" id="form-c">
        <input type="text" name="nama" required><br>
        <input type="password" name="pw" required><br>
        <input type="text" id="captcha-input" required><input type="button" id="captcha" data-captcha="10"><br>
        <input type="submit" value="Submit">
    </form>
    <a href="<%= baseUrl %>/daftar">Daftar</a>
    <script src="/js/captcha.js"></script>
</body>
</html>