<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masuk</title>
</head>
<body>
    <% if (messages.error) { %>
        <%= messages.error %>
    <% } %>
    <form action="<%= baseUrl %>/masuk" method="post">
        <input type="email" name="email">
        <input type="password" name="pw">
        <input type="submit" value="Submit">
    </form>
    <a href="<%= baseUrl %>/daftar">Daftar</a>
</body>
</html>